p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Headings to bold Helvetica Neue */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}


/* Hide the right sidebar */
.bd-sidebar-secondary {
    display: none;
}

/* Adjust the width of the main content area */
.bd-content {
    max-width: 100%;
    margin: 0 auto;
}

/* Ensure the content uses the full width */
.bd-main {
    flex: 1 0 auto;
    max-width: 100%;
    margin-right: 0;
}

/* Further adjustments to ensure full-width content */

.bd-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
